<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/chart/<%= filePathNew %>" class="chart">
        <img src="/chart/<%= filePathNew %>">
      </a>
    </div>
  </div>
</body>

</html>